    <!-- This is the main template to show the progressbar content -->
    <!-- Loop over the 'progressbars' property of ractive instance and show -->
    {{#each progressbars}}
        <div class="row-pb">
            <div class="display-label">{{showvalue < 0 ? 0 : showvalue}}%</div>
            <div class="progress-bar{{value > 100 ? 'R' : 'B'}}" style="width: {{value > 100 ? 100 : ( value < 0 ? 0 : value )}}%"></div>
        </div>
    {{/each}}

    <!-- Progress-bar drop-down -->
    <select value="{{selectedProgressBar}}" class="row-select">
        <option selected value="select">Select Progress Bar</option>
        {{#each progressbars :index}}
            <option value="{{index}}">{{name}}</option>
        {{/each}}
    </select>

    <!-- Width change buttons -->
    {{#each intervals}}
        <button disabled="{{selectedProgressBar == 'select'}}" 
                on-click="@this.changeInterval(this)" class="btns">
            {{this > 0 ? "+" : ""}}{{this}}
        </button>
    {{/each}}